doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='')
  title Creative 
  link(href='css/bootstrap.css' rel='stylesheet' type='text/css')
  link(href='css/style.css' rel='stylesheet' type='text/css')
body
  nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top.bg-dark
    .container
      a.navbar-brand.js-scroll-trigger(href='/') Krishna Rana
      button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto.my-2.my-lg-0
          li.nav-item
            a.nav-link.js-scroll-trigger(href='/') Home
          li.nav-item
            a.nav-link.js-scroll-trigger(href='about') About
          li.nav-item
            a.nav-link.js-scroll-trigger(href='contact') Contact
  block content

  footer.container
    p &copy; Krishna Rana 
